.custom-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.custom-dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-dialog-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.custom-dialog-close {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Стили для окна ошибки */
.custom-dialog.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/* Стили для окна успеха */
.custom-dialog.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}
